.root {
  padding-bottom: 2em;
  text-align: center;
  border: 1px solid #D68031;
  letter-spacing: .5vw;
  margin-bottom: .5em;
  background-color: azure;
}

.items {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0 0 3rem;
  padding: 0;
}

.text {
  text-align: center;

  @nest & p {
    margin: 1rem 0;
  }

  @nest & a {
    color: inherit;
  }
}
