.root {
  padding: 2em 0;
  text-align: center;
  letter-spacing: .5vw;
  margin-bottom: .5em;
  border: 1px solid #D68031;
  border-color: var(--global-accent-color);
  border-radius: 0 0 2em 2em;
}
@media screen and (max-width: 820px) {
  .root{
    margin: 0 .5em .5em .5em;
  }
}

.items {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0 0 3rem;
  padding: 0;
}

.text {
  text-align: center;

  @nest & p {
    margin: 1rem 0;
  }

  @nest & a {
    color: inherit;
  }
}
