
.section-slideshow {
    overflow: hidden;
}

@media screen and (max-width: 820px) {
    .section-textbox {
        margin-left: 2.5em;
        margin-right: 2.5em;
    }
}


.section-textbox {

}

.section-figure {

}

.section-links {
    font-size: large;
}

.section-schedule {

}