html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color:#efefef;
}

* {
  box-sizing: border-box;
}

a:link {
  color: #D68031;
}

a:visited {
  color: #d58a44;
}

.two-column-page {
  background-color: #efefef;
  border-left: 1px solid #D68031;
  border-right: 1px solid #D68031;
  padding: 2.5em 0;
}


@media screen and (min-width: 820px) {
  .two-column-page {
    display: grid;
    grid-template-columns: 25% 1fr;
    grid-column-gap: 1em;
  }

  .two-column-page section {
    grid-column-start: 2;
  }

  .two-column-page section.section-0 {
    grid-column-start: 1;
    grid-row: span 2;
  }

  html {
    background-color: rgb(255, 251, 237);
  }

  body {
    margin: 2vh 5vw;
    padding: 0;
    background-color:#efefef;
  }
}

h1 {
  text-align: center;
  margin-top: 0.3em;
  font-weight: lighter;
}

h2, h3 {
  text-align: left;
  font-weight: normal;
}

/* No module-friendly override for this class? */
.react-calendar__navigation {
  text-align: center;
  padding: 1em 0;
}

.react-calendar__month-view__weekdays {
  text-align: center;
}

.react-calendar__month-view__weekdays__weekday {
  border-left: 1px solid #D68031;
  padding-bottom: 0;
}

.react-calendar__month-view__weekdays__weekday:first-child {
  border-left: none;
}

.react-calendar__month-view__weekdays abbr {
  text-decoration: none;
}
