html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #eee;
}

* {
  box-sizing: border-box;
}

@media screen and (min-width: 820px) {
  .two-column-page {
    display: grid;
    grid-template-columns: 25% 1fr;
    grid-column-gap: 1em;
  }

  .two-column-page section {
    grid-column-start: 2;
  }

  .two-column-page section.section-0 {
    grid-column-start: 1;
  }
}