
.linklist {
    list-style: none;
    padding-inline-start: 0;
}

.linklist {
    margin-left: 1em;
}

@media screen and (max-width: 820px) {
        .linklist {
            margin-right: 1em;
        }
        .item {
        display: inline-block;
        margin-left: 1.5em;
    }
}

.active, .active a {
    text-decoration: none;
    font-weight: 600;
}

.linklist svg {
    fill: #D68031;
    width: .5em;
    margin-right: .5em;
  }
