.datecell {
    min-height: 120px;
}

.date {
    width: 100%;
    font-weight: bold;
	box-shadow: 0px 5px 7px -2px #D68031;
}

.past {
    color: #ccc;
}

.dateDetails {

}

.lesson {
    margin-top: 1em;

}

.exception {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 95px;
}

.contentgrid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: stretch;
	align-content: stretch;
    background-color: #D68031;
    grid-gap: 1px;
}

.contentgrid>div {
    flex: 1 1 0px;
    background-color: #eee;
    padding: 1em;
}