.timetable {
    margin-right: 1em;
}

.datecell {
    min-height: 160px;
}

.date {
    width: 100%;
    font-weight: bold;
	box-shadow: 0px 1px 5px -3px #d68031;
}

.past {
    color: #ccc;
}

.dateDetails {

}

.lesson {
    margin-top: 1em;
}

.lesson a {
    text-decoration: none;
    color: #d68031;
}

.exception {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 95px;
}
